
  /* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
 
}
.interfaceS{
    max-width: 1280px;
    margin: 0 auto;
     
}
/* ESTILO DO CABEÇALHO */
 header{
    padding: 70px 4%;
 }
 header a{
    color: rgb(177, 177, 177);
    text-decoration: none;
     display: inline-block;
     transition: 0.3;}
 header a:hover{
    color: #ffffff;
    transform: scale(1.05);
 }
 header > .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 header .interface .logo a{
    text-align: center;
 
 }
 header .interface .logo H1{
    font-size: 5040;
    margin-right: 100px;
     color: #00ff08;
     font-family:  fantasy;
     letter-spacing: 2px;
     box-shadow:10px 10px 10px #00ff08 ;
    }
 header .interface .logo h2{
    font-size: 20px;
    margin-left: 50px;
    color: #ffffff;
 
 }
 header nav ul li{
  
    display: inline-block;

    padding: 0 40px;
 }
 header .btn-contato button{
    background-color: #ffffff;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ff08 ;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
 }
 header .btn-contato button:hover{

    box-shadow:0px 0px 10px #00ff08 ;
 }
 